<div
    class="w-70 h-[480px] rounded-xl p-5 m-5 flex flex-col justify-start items-center bg-gray-100/25 hover:scale-[1.03] transition-all border">
    <img src="{{imgUrl}}" alt="img" class="w-56 h-80 rounded-lg mb-5 object-cover">

    <div class="w-full flex flex-col justify-center items-start">
        <h2 class="text-start">{{title}}</h2>

        <div class="flex justify-center items-center gap-3">
            <button [ngClass]="hasLiked? 'text-red-500' : 'text-teal-50'" class="text-xl"
                (click)="handleLike()">❤</button>
            <span class="text-sm text-gray-600">{{likesCount}} likes</span>
        </div>
    </div>

    <p class="text-sm text-neutral-500 line-clamp-3 mt-1">{{content}}</p>
</div>



<!-- @if (hasLiked) {<button class="text-teal-200" (click)="handleLike()">❤</button>}
@else {<button class="text-red-500" (click)="handleLike()">❤</button>} -->