<div class="movie-card">
    <img
        [src]="movie.poster_path ? `https://image.tmdb.org/t/p/w500/${movie.poster_path}` : './no-movie.png'"
        alt="{{movie.title}}"
        class=""
    >

    <div class="mt-4">
        <h3 class="">{{movie.title}}</h3>

        <div class="content">
            <div class="rating">
                <img
                    src="star.svg"
                    alt="star"
                >
                <p>{{movie.vote_average ? movie.vote_average.toFixed(1) : 'N/A'}}</p>
            </div>
            <span>•</span>
            <p class="lang">{{movie.original_language}}</p>
            <span>•</span>
            <p class="year">{{movie.release_date ? movie.release_date.split("-")[0] : 'N/A'}}</p>
        </div>
    </div>
</div>



<!-- @if (hasLiked) {<button class="text-teal-200" (click)="handleLike()">❤</button>}
@else {<button class="text-red-500" (click)="handleLike()">❤</button>} -->


<!-- <button
    [ngClass]="hasLiked? 'text-red-500' : 'text-teal-50'"
    class="text-xl"
    (click)="handleLike()"
>❤</button>
<span class="text-sm text-gray-600">{{likesCount}} likes</span> -->