<div class="w-full h-20 flex justify-between items-center">
    <div>
        <a routerLink="/" routerLinkActive="router-link-active" >
            <img src="/logo.png" alt="Home" class="size-10 ml-10">
        </a>
    </div>

    <div class="w-40 h-10 flex justify-end items-center gap-7">
        <div class="w-10 h-10">
            <a routerLink="bookmarks" routerLinkActive="text-red-500" >
                <lucide-icon
                    [img]="Bookmark"
                    class="text-gray-50 size-10 active:text-purple-900"
                ></lucide-icon>    
            </a>
        </div>
        <div class="w-10 h-10 rounded-full object-cover overflow-hidden">
            <a routerLink="profile" routerLinkActive="router-link-active" >
                <img
                    src="https://i.pinimg.com/736x/63/25/83/6325832867d331d6ce9023dc091cc514.jpg"
                    alt="Profile"
                >
            </a>
        </div>
    </div>
</div>