<main class="h-screen w-screen overflow-y-scroll scrollbar-none scroll-smooth">
    <div class="pattern"></div>

    <div class="wrapper mt-10">
        <header>
            <h1 #formSection>Add <span class="text-gradient">Movie</span> Details</h1>
        </header>

        <section class="all-movies">
            <h2 class="my-10">Do you know about new movies?</h2>

            <div class="flex justify-center items-center">
                <div class="backdrop-blur-lg w-full p-7 shadow-lg">
                    <form
                        #movieForm="ngForm"
                        (ngSubmit)="submitMovie(movieForm)"
                        class="space-y-10 grid grid-cols-1"                        
                    >

                        <!-- Title & Vote Average -->
                        <div class="flex flex-col sm:flex-row justify-center items-center gap-10">
                            <div class="w-full">
                                <label class="text-white">Movie Name</label>
                                <input
                                    type="text"
                                    name="title"
                                    placeholder="Title..."
                                    [(ngModel)]="movie.title"
                                    #title="ngModel"
                                    class="w-full p-2 text-white border-b outline-none"
                                    [ngClass]="{ 'border-red-500': title.invalid && title.touched }"
                                    required
                                    minlength="1"
                                />
                                <p
                                    *ngIf="title.invalid && title.touched"
                                    class="text-red-500 text-sm"
                                >Title must be at least 2 characters long.</p>
                            </div>

                            <div class="w-full">
                                <label class="text-white">Rating</label>
                                <input
                                    type="text"
                                    name="vote_average"
                                    placeholder="Average Ratings..."
                                    [(ngModel)]="movie.vote_average"
                                    (input)="onVoteInput($event)"
                                    #voteAverage="ngModel"
                                    maxlength="3"
                                    class="w-full p-2 text-white border-b outline-none"
                                    [ngClass]="{ 'border-red-500': voteAverage.invalid && voteAverage.touched }"
                                    required
                                />
                                <p
                                    *ngIf="voteAverage.invalid && voteAverage.touched"
                                    class="text-red-500 text-sm"
                                >Vote must be between 0.0 to 10.0</p>
                            </div>
                        </div>

                        <!-- Release Date & Language -->
                        <div class="flex flex-col sm:flex-row justify-center items-center gap-10">
                            <div class="w-full">
                                <label class="text-white">Release Date</label>
                                <input
                                    type="date"
                                    name="release_date"
                                    [(ngModel)]="movie.release_date"
                                    #releaseDate="ngModel"
                                    class="w-full p-2 text-white border-b outline-none"
                                    [ngClass]="{ 'border-red-500': releaseDate.invalid && releaseDate.touched }"
                                    required
                                />
                                <p
                                    *ngIf="releaseDate.invalid && releaseDate.touched"
                                    class="text-red-500 text-sm"
                                >Please select a valid date.</p>
                            </div>

                            <div class="w-full">
                                <label class="text-white">Original Language</label>
                                <input
                                    type="text"
                                    name="original_language"
                                    placeholder="Language..."
                                    [(ngModel)]="movie.original_language"
                                    #originalLanguage="ngModel"
                                    class="w-full p-2 text-white border-b outline-none"
                                    [ngClass]="{ 'border-red-500': originalLanguage.invalid && originalLanguage.touched }"
                                    required
                                    pattern="[A-Za-z]+"
                                />
                                <p
                                    *ngIf="originalLanguage.invalid && originalLanguage.touched"
                                    class="text-red-500 text-sm"
                                >Language must contain only letters.</p>
                            </div>
                        </div>

                        <!-- Poster Path & Preview -->
                        <div class="flex flex-col sm:flex-row justify-center items-center gap-10">
                            <div class="sm:w-[60%] w-full">
                                <label class="text-white">Movie Poster URL</label>
                                <input
                                    type="url"
                                    name="poster_path"
                                    placeholder="Poster URL..."
                                    [(ngModel)]="movie.poster_path"
                                    #posterPath="ngModel"
                                    class="w-full p-2 text-white border-b outline-none"
                                    [ngClass]="{ 'border-red-500': posterPath.invalid && posterPath.touched }"
                                    required
                                    pattern="https?://.+"
                                    (input)="updateImagePreview()"
                                />
                                <p
                                    *ngIf="posterPath.invalid && posterPath.touched"
                                    class="text-red-500 text-sm"
                                >Enter a valid URL.</p>
                            </div>

                            <img
                                *ngIf="validImageUrl"
                                [src]="getMoviePoster()"
                                class="rounded-lg shadowmd shadow-[0_0_10px_1px_rgba(255,255,255,0.5)] max-h-40 object-contain overflow-hidden"
                            />
                        </div>

                        <!-- Submit & Cancel Buttons -->
                        <div class="w-full flex justify-center items-center gap-10">
                            <button
                                type="button"
                                (click)="clearForm(movieForm)"
                                class="w-60 bg-linear-to-r from-gray-500 to-gray-900 hover:from-teal-500 hover:to-green-400 active:from-rose-500 active:to-rose-950 text-white font-bold text-xl py-2 px-4 rounded-lg transition"
                            >
                                Cancel
                            </button>

                            <button
                                type="submit"
                                class="w-60 bg-linear-to-r from-cyan-500 to-blue-500 hover:from-teal-500 hover:to-green-400 active:from-rose-500 active:to-rose-950 text-white font-bold text-xl py-2 px-4 rounded-lg transition"
                            >
                                {{ isEditing ? 'Update' : 'Submit' }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Movies List -->
            <div class="wrapper mt-10">
                <section class="all-movies">
                    <h2 class="mt-10">Added Movies</h2>
                    <ul>
                        @for (movie of movies; track movie.id) {
                        <div class="movie-card relative">
                            <img
                                [src]="movie.poster_path ? movie.poster_path : './no-movie.png'"
                                alt="{{movie.id}}"
                                class="h-80"
                            >

                            <div class="mt-4">
                                <h3 class="">{{movie.title}}</h3>

                                <div class="content">
                                    <div class="rating">
                                        <img
                                            src="star.svg"
                                            alt="star"
                                        >
                                        <p>{{movie.vote_average ? movie.vote_average.toFixed(1) : 'N/A'}}</p>
                                    </div>
                                    <span>•</span>
                                    <p class="lang">{{movie.original_language}}</p>
                                    <span>•</span>
                                    <p class="year">{{movie.release_date ? movie.release_date.split("-")[0] : 'N/A'}}</p>
                                </div>
                            </div>

                            <div class="absolute w-[85%] flex justify-end items-center gap-5 bottom-3">
                                <button (click)="getSelectedMovie(movie.id)"><lucide-angular
                                        [img]="PenSquare"
                                        class="text-blue-500 size-5"
                                    ></lucide-angular></button>
                                <button (click)="removeMovie(movie.id)"><lucide-angular
                                        [img]="Trash2"
                                        class="text-red-500 size-5"
                                    ></lucide-angular></button>
                            </div>
                        </div>
                        }
                    </ul>
                </section>
            </div>
        </section>
    </div>
</main>